Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Rider user-specific files – don’t share
.idea/workspace.xml
.idea/tasks.xml
.idea/**/workspace.xml
.idea/**/projectSettingsUpdater.xml
.idea/
*.iml