# Unreal generated folders
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/

# Plugin generated folders
/Plugins/**/Intermediate/
/Plugins/**/Binaries/

# IDE / editor user files
.vs/
.vscode/
.idea/
*.sln
*.suo
*.VC.db
*.opensdf
*.opendb
*.sdf
*.xcodeproj
*.xcworkspace
*.iml

# Logs / temp
*.log